<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get Started?</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem
        quisquam aliquam blanditiis quam nam! Neque dolores possimus temporibus
        atque perspiciatis iste quas aliquam dolor distinctio, delectus quos
        reprehenderit alias nostrum.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
